@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box; 
}
.footer{
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(235, 187, 124);
    padding: 20px 20px;   
}
.rights .career .mail .icons .policy{
    display: flex;
    justify-content: space-between;
    width: 40%;
    word-spacing: 5%;
}
a ,h1,h2{
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    font-family: 'Montserrat', sans-serif;
}
.name{
    
    letter-spacing: 2px;
    font-size: 1em;  
}
.name:hover{
    color: black;
}
.rights{
    line-height: 150% ;
}
.font-size{
    font-size: 150%;
}
.tag{
    margin-left: 5px;
}
.input{
    width: 241px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 0.8em;
}
.inputt{
    padding: 5px 10px;
    height: 30px;
    border: none;
    background-color: rgb(75,172,253);
    border-top-right-radius: 5px;
    margin-left: -5%;
    border-bottom-right-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
}
@media (max-width:500px){
    .footer{
        display: flex;
        flex-direction:column;
        height: 40vh;
    }
    .careers{
        margin: 10px 0px 0 0;   
        padding-top: 10px;
        width: 100%;
        padding-left: 10px;
    }
    
    .policy{
        margin: 0px 0px 10px 0;
        padding-bottom: 10px;
        width: 100%;
        padding-left: 10px;
    }
    .icons{
      padding-top: 10px;
    }
    h1,h2{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .input{
        width: 151px;
    }
    .inputt{
        padding: 3px 5px;
        letter-spacing: 0rem;
    }
}

